{% extends 'main/base.html' %}
{% load static %}




{% block content %}

<section class="main_heading my-5">
    <div class="container">
  <div class="text-left">
      <h1 class="display-5"> FAQs </h1>
      <hr class="w-100 mx-auto" />
  </div>
  </div>
 
  <div class="container">
      <div class="row">
          <div id="navbar-example" style="position: relative;">
          <nav id="navbar-example2" class="navbar navbar-dark bg-dark px-3">
              <a class="navbar-brand" href="#">Frequently Asked Questions</a>
            </nav>
            <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" tabindex="0" 
                  style="height: 600px; overflow-y: scroll"><br>

              <p><strong> How expensive is travelling in Nepal?</strong><br>
                  Nepal is mostly preferred for the budget destinations that it has to offer. You can modestly spend a week with around USD 400 to 500.
                  Having paid all expenses for treks and accommodation,you only need a small amount to purchase water, snacks and tea outside meals as per 
                  your desire.</p><br>
                
              <p><strong> What should I bring with myselves while visiting Nepal?</strong><br>
                  If you are visiting during summer, you can bring light summer clothes along with 
                  some windproof jackets. Likewise, If you are travelling during winter, we suggest you to bring warm clothes 
                  along with some heavy jackets as it is quite cold during winter here in Nepal.</p><br>

              <p><strong> What are the common etiquette followed in Nepal?</strong><br>
                  Being a diverse country, there are many basic and cultural etiquettes that we follow here in Nepal. You can casually say 'Namaste'
                  to greet somebody and take off your shoes while entering a house or temples. Don't hesitate to ask us whenever you feel in doubt about such things.</p><br>

              <p><strong> How much safe is it to travel as a woman in Nepal?</strong><br>
                  We people of Nepal believe in one motto "Guest is God", so you, being a tourist can feel safe as the people here in Nepal are freindly and welcoming to 
                  the tourists traveling in Nepal. Moreover, we provide our guests with proper security during your journey here in Nepal></p><br>
              
              <p><strong>How much weight am I allowed to carry during domestic flights in Nepal?</strong><br>
                  The maximum weight you can carry with yourselves during domestic flights in Nepal is 15 kg.</p><br>
              
              <p><strong>What are the problems that I can face during my trek in Nepal?</strong><br>
                  As we will be trekking on high altitudes, mustly people suffer from altitude sickness as the oxygen amount is low on high altitudes. But, we are there to 
                  help you anytime to avoid such problems as we will immediately take you to lower altitude and we will be there to solve simple problems that you can face duing 
                  the trek.</p><br>

              <p><strong> What is the weather like must of the time in Nepal?</strong><br>
                  The weather here in Nepal is temperate. If you want to visit Nepal during summer then, you can visit between May and August. And if you want to enjoy winter season 
                  in Nepal, you can visit between December to February.</p><br>

              <p><strong> How expensive is travelling in Nepal?</strong><br>
                  Nepal is mostly preferred for the budget destinations that it has to offer. You can modestly spend a week with around USD 350 to 400.\
                  Having paid all expenses for treks and accommodation,you only need a small amount to purchase water, snacks and tea outside meals as per 
                  your desire.</p><br>
              
              <p><strong> What food are we served during our trek to the remote places in Nepal?</strong><br>
                  While trekking to the Himalays in Nepal, you will be served Daal-Bhaat-Tarkari, a typical Nepali dish which consisits of rice, lentil-soup and variety of vegetables 
                  or non-vegeterian dish if you prefer. While, some of the lodges also offer Western cuisine accoriding to your preference.</p><br>
              
              <p><strong>Will it be difficult for me to trek as a beginner?</strong><br>
                  If you have trekked before, it will definitley be a plus point, but it is not a compulsion. If you are a beginner in trekking then, there are places to trek which are easier 
                  but if you are determined to trek a certain location then, we will be there to guide and help you throughout the trek.</p><br>
              
              <p><strong> Is there a age limit for trekking in Nepal?</strong><br>
                  There is no age limit for trekking in Nepal but children should be accompanied by their parents or guradians during the journey.</p><br>

            </div>
      </div>
  </div>
  </div>

</section>

{% endblock%}