{% extends 'main/base.html' %}
{% load static %}




{% block content %}

<section class="main_heading my-5">
    <div class="container">
      <div class="inner-wrap">
  <div class="text-left">
      <h1 class="display-6"> Our Terms & Conditions </h1>
      <hr class="w-75" />
  </div> 
</div>

<section id="main">
    <div class="container"> 
      <div class="row">
        <div class="col-sm-8">
          <h5>Booking Confirmation</h5>
          <p style="text-align: justify;">
            Our Travel agency runs its services legally and all the bookings are subject to the company's terms and conditions. To confirm 
            your booking, you should confirm the following terms and conditions: 
          </p>
          <ul>
              <li>Passport's copy</li>
              <li>Details regarding your arrival and departure to Tribhuwan Internationl Airport, Nepal. </li>
              <li>Booking amount for booking and reservations for your stay.</li>
              <li>Details regariding the dates and time of your tickets.</li>
              <li>Details of the hotels and facilities of your trip.</li>
          </ul>
          <h5>Pricing and Payment</h5>
          <p>Pricing and payment are subject to change due to several circumstances such as change in foreign rates, ticket rates, etc. For 
             pricing and payment for the trip, please make sure to follow the following terms:
          </p>
          <ul>
              <li>25% advance payment to cofirm your booking.</li>
              <li>Pricing is finalized after payment for the booking.</li>
              <li>Credit cards like VISA, Mastercards,etc. are accepted for payement.</li>
              <li>Payement for the booking should be done through bank deposition in the company's account.</li>
              <li>Refund is available with 20% penalty fee in terms of cancellation after the booking.</li>
          </ul>
          <h5>Privacy Policy</h5>
          <p>The company will make sure the data and information provided to us by you will be totally confidential and will only be provided on
              your approval. There will be some personal information that you need to provide to the company like your health status, religious values,
              and other informations to meet the requirements of the trip. These informations will only be shared on your approval to somebody or 
              incase of some emergency.
          </p>
          <h5>Bank details</h5>
          <p><strong>Bank Name:</strong> Machhapuchhre Bank Ltd.</p>
          <p><strong>Account Name:</strong> XYZ Tours and Travels Pvt. Ltd.</p>
          <p><strong>Account Number:</strong> 1837495857489 </p>
        </div>
      </div>
    </div>
</section>
</section>

{% endblock%}